body,
html{
	min-height: 100%;
}


/*body{
	
	font-family: 'Nova Oval', cursive;

	color: black;

	background-image: url("../images/1.gif");
	background-repeat: no-repeat;
	background-size: cover;

}

*/
ul.navbar {
	position: absolute;
	top: 2em;
	left: 1em;
	width: 9em 
}
h1 {
	font-family: 'Courgette', cursive;1
	SunSans-Regular, sans-serif 
}

img
{
	width: 275px; border-radius: 50%; /*  opera, IE9, */
	-webkit-border-radius: 75%;  /* safari , chrome */
	-moz-border-radius: 75%;  /* mozila */

	position: absolute;
    bottom: 0px;
    left: 100px;
}

p 
{
	font-size: 22px;
}

title:before {
	font-family: 'FontAwesome';
	content: '\f121';
}

.block.icon-wifi-title .block-title-wrapper h4 {
	padding: 5px;
}
