	h1 {
		font-family: 'Courgette', cursive;1
		SunSans-Regular, sans-serif 
	}

	body 
	{
		color: green;
		background-color: 	rgb(0, 0, 0)
	}

}

p
{
	font-size: 19px;
}


body{
	
	font-family: 'Nova Oval', cursive;

	color: green;

	background-image: url("../images/3.gif");
	background-repeat: no-repeat;
	background-size: cover;

}
