	p
	{
		font-size: 19px;
	}

	h1 {
		font-family: 'Courgette', cursive;1
		SunSans-Regular, sans-serif 
	}
	h1{
		color: white;
	}

	body{
		
		font-family: 'Nova Oval', cursive;
		color: black;
	}

	.row{
		margin: 15px;
	}

	.row1{
		margin: 25px;
	}


	.row2{
		margin: 15px;
	}


	.row3{
		margin: 15px;
	}


	hr{
		border: 0;
		height: 1px;
		margin: 0px;
		width: 350px;
		background-image: linear-gradient(to right, rgb(100, 0, 0), rgb(0, 25, 0), rgb(30, 25, 100));
	}


	.m{
		background-color:black;
	}


	.nav-tabs.nav-justified>li>a {
		color:rgb(102, 0, 102);
		font-size: 18px;
	}

	.nav-tabs.nav-justified>li.active>a{
		color:#000;
		background-color:rgb(102, 0, 102);
		border-color:rgb(102, 0, 102);
	}